.votes-input {
  display: flex;
  justify-content: flex-end;

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    height: 2.75rem;
    width: 2.75rem;
    background: transparent;
    padding: 0;
    color: white;

    &--vote {
      background: #30303099;
      width: auto;
      padding: 0 26px;
      font-family: Lato;
      font-size: 15px;
      line-height: 18px;
      border: 1px solid white;
      &:disabled {
        background: #00000099;
      }
    }
    &--vote-up {
      background: #fbbd4a;
      margin-right: 12px;
    }
    &--vote-down {
      background: #3cbbb4cc;
      margin-right: 12px;
    }
    &--active {
      border: 1px solid white;
    }
  }
}
