.votes-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 12px;

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    height: 38px;
    padding: 0;

    &--vote-icon {
      margin-right: 12px;
    }
    &--vote {
      background: #30303099;
      color: white;
      text-align: center;
      min-width: 8.333rem;
      font-family: Lato;
      font-size: 15px;
      line-height: 18px;
      border: 1px solid white;
      margin-right: 0;
      &:disabled {
        background: #00000099;
      }
    }
  }
}
